body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.container {
    text-align: center;
}

#legend {
    margin-top: 20px;
}
canvas {
    max-width: 100%;
    height: auto;
}